<app-navbar></app-navbar>
<div class="pd-wrap">
    <div class="container">
        <div class="heading-section">
            <h1>Detalle Producto</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <td>
                        <img src="{{producto.imagen}}" style="object-fit: contain;width: 80%;height: auto;" />
                    </td>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-dtl">
                    <h3>{{producto.nombre}}</h3>
                    <h3>{{producto.marca}}</h3>
                    <h3>{{producto.descripcion}}</h3>
                    <div class="product-info">
                        <div class="product-price-discount">

                            <span>
                                <span >
                                    ${{producto.precio}}
                                </span>
                                <!-- ${{producto.precioConDescuento}}
                                <span class="percentage">
                                    {{producto.porcentajeDescuento}}% OFF
                                </span> -->
                            </span>
                        </div>
                    </div>
                    <div class="product-count">
                        <label for="size">Cantidad : {{producto.cantidad}}</label>
                        <!-- <form action="#" class="display-flex">
                            <div class="qtyminus" (click)="quitar()">-</div>
                            <input type="text" name="quantity" [value]="cantidad" class="qty">
                            <div class="qtyplus" (click)="agregar()">+</div>
                        </form>   -->
                    </div>      
                </div>
                <div class="container">
                    <div class="mb-3">
                      <button (click)="adicionarCarrito(producto)" class="btn btn-success" type="button" style="background-color: green;">Agregar Al Carrito</button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>