<app-navbar></app-navbar>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Marca</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mantecol</td>
        <td>Postre mani 200gr</td>
        <td>$150</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sugus</td>
        <td>Caramelos surtidos 200gr</td>
        <td>$250</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Lipo</td>
        <td>Pastillas ácidas 200gr</td>
        <td>$100</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Pop´s</td>
        <td>Chupetines surtidos 200gr</td>
        <td>$110</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Arcor</td>
        <td>Turrón 25g</td>
        <td>$30</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>M&M</td>
        <td>Mani con chocolate 95g</td>
        <td>$180</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>
<app-footer></app-footer>
