<app-navbar></app-navbar>
  

  <div class="container mt-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">cod.</th>
          <th scope="col"><span><i class="material-icons">camera_enhance</i></span></th>
          <th scope="col">Marca</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody *ngFor="let producto of productos">
        <tr>
          <th scope="row">{{producto.id}}</th>
          <td><img src='{{producto.imagen}}' style="outline: none; width: 90px;" /></td>
          <td>{{producto.marca}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.precio}}</td>
          <td>
            <div class="product-count">
              <form action="#" class="display-flex">
                  <div class="qtyminus" (click)="quitar()">-</div>
                  <input type="text" name="quantity" [value]="cantidad" class="qty">
                  <div class="qtyplus" (click)="agregar()">+</div>
              </form>       
            </div> 
          </td>
          <td><span><a routerLink='/'><i class="material-icons">delete</i></a></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container mb-5">
    <button (click)=onClick() class="btn btn-success" type="button" style="background-color: red;">Volver</button>
    <button class="btn btn-danger" type="button" style="background-color: green;">Confirmar Compra</button>
  </div> 
  

<app-footer></app-footer>