<h3>¡Elegí el combo que más se ajuste a vos!</h3>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="inam" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container mt-4 mb-5">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="./assets/combo-seños.png" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">$700</h5>
                                                <p class="card-text">Cereal arcor, alfajor jorgito, jugo cepita, 25 caramelos surtidos, tableta beldent, cofler mini</p>    
                                                <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="./assets/combo-cole.png" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">$700</h5>
                                                <p class="card-text">Alfajor jorgito, 25 gomitas, papas lays, jugo cepita, 5 chupetines, 20 caramelos surtidos, 1 tita, surtidas bagley</p>
                                                <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="./assets/combo-facu.png" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">$700</h5>
                                                <p class="card-text">Cereal arcor, alfajor jorgito, jugo cepita, 25 caramelos surtidos, tableta beldent, cofler mini, 1 tita, paquete oreo</p>
                                                <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="./assets/combo-ofi.png" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">$800</h5>
                                                <p class="card-text">2 cereales, 1 oblea, 30 caramelos, 2 turrones, 1 mini mantecol, 2 tableta beldent, 1 mogul, 1 mini oreo</p>
                                                <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container mt-4 mb-5">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="./assets/combo-bajon.png" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">$1000</h5>
                                                <p class="card-text">Caja bon o bon, 2 cofler, 2 milka, 2 lays, 2 doritos, 4 marroc, 2 rocklet, 2 kit kat, 40 gomitas, 2 chocolinas</p>
                                                <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="./assets/combo-light.png" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">$1000</h5>
                                                <p class="card-text">4 cereales, 4 turrones, 4 chocoarroz, 4 vauquita light, 30 caramelos BC, 4 obleas gallo, 4 marroc light</p>
                                                <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="./assets/combo-piñata.png" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">$3000</h5>
                                                <p class="card-text">1 bolsa pops, 1 bolsa masticables frutales, 1 bolsa caramelos, 1 caja chocolatin, 1 bolsa sugus </p>
                                                <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="./assets/combo-goloso.png" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">$1500</h5>
                                                <p class="card-text">4 alfajores milkas, 4 alfajores pepitos, 1 caja flynn paff, 2 cofler, 2 milka, 10 marroc, 4 kitkat</p>
                                                <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Controles -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#inam" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#inam"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>
