.card{
    transition: all 0.2s ease;
    cursor: pointer;
  }

.card:hover{
    box-shadow: 5px 6px 6px 2px #ec0d49;
    transform: scale(1.1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}