<app-navbar></app-navbar>
  

  <div class="container mt-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">cod.</th>
          <th scope="col"><span><i class="material-icons">camera_enhance</i></span></th>
          <th scope="col">Marca</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items">
        <tr>
          <th scope="row">{{item.id}}</th>
          <td><img src='{{item.imagen}}' style="outline: none; width: 90px;" /></td>
          <td>{{item.marca}}</td>
          <td>{{item.descripcion}}</td>
          <td >{{item.precio | currency}}</td>
          <td >{{item.cantidad}}</td>
          <td><span><a (click)=eliminar(item.id) ><i class="material-icons">delete</i></a></span></td>
        </tr>
      </tbody>
      
    </table>
    
  </div>
  <h3 *ngIf="items.length == 0 || !items?.length" style="text-align: center;">No Hay productos para mostrar </h3>
  <div class="container mb-5" >
    <button (click)=onClick() class="btn btn-success" type="button" style="background-color: red;">Volver</button>
    <button class="btn btn-danger" type="button" style="background-color: green;">Confirmar Compra</button>
    <p>Total de Articulos : {{items.length}}</p>
    <div >Importe total : {{ total | currency }}</div>

    
  </div> 
<app-footer></app-footer>