<app-navbar></app-navbar>
<section class="position-relative py-3 py-xl-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>¡Bienvenido!</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-8 col-md-6 col-xl-4">
                <div class="card mb-5 containerRegistrar">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                            <img src="./assets/logo-goloteca.png" alt="" width="150" height="150">
                        </div>
                <div class="card-body">
                    <form class="text-center" method="post" [formGroup]="crearCuentaForm"><!-- (ngSubmit)="onSubmit()"> -->
                        <div class="form-row">
                            <div class="mb-3 form-group">
                                <input type="email" formControlName="email" class="form-control" placeholder="Ingrese su email" required>
                                <!-- <div class="text-danger" *ngIf="crearCuentaForm.get('email')?.hasError('required')">
                                    <span>El email es obligatorio</span>
                                </div>-->
                            </div>
                                
                            <div class="mb-3">
                                <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese su nombre" required>                            
                                 <!--  <div class="text-danger" *ngIf="crearCuentaForm.get('nombre')?.hasError('required')">
                                    <span>El nombre es obligatorio</span>
                                </div>-->
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="apellido" class="form-control" placeholder="Ingrese su apellido" required>                            
                            </div>
                                <!--   <div class="text-danger" *ngIf="crearCuentaForm.get('apellido')?.hasError('required')">
                                    <span>El apellido es obligatorio</span>
                                </div>-->
                            <div class="mb-3">
                                <input type="text" formControlName="direccion" class="form-control" placeholder="Ingrese su direccion" required>                            
                            </div>
                                <!--<div class="text-danger" *ngIf="crearCuentaForm.get('direccion')?.hasError('required')">
                                        <span class="error-msg">La direccion es obligatoria</span>
                                </div>-->

                            <div class="mb-3">
                                <input type="password" formControlName="password" class="form-control" placeholder="Ingrese su contraseña" required>                            
                                <div class="text-danger" *ngIf="crearCuentaForm.get('password')?.touched && crearCuentaForm.get('password')?.hasError('pattern')">
                                    <span class="error-msg">La contraseña es obligatoria y debe tener entre 8 y 12 caracteres. Contener
                                    por lo menos una letra mayuscula, una minuscula, un numero y un caracter especial</span>
                                </div>
                            </div>
                                            
                            <!--    <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Confirmar
                                    Contraseña</label><input formControlName="confirmContraseña"
                                    class="form-control py-4" id="inputConfirmPassword" type="password"
                                    aria-describedby="passwordConfirmHelp" placeholder="Ingrese  de nuevo contraseña" />
                            </div>
                            <div class="text-danger"
                                *ngIf="crearCuentaForm.get('confirmContraseña')?.touched && crearCuentaForm.get('confirmContraseña')?.hasError('required')">
                                <span>La confirmacion de contraseña es obligatoria</span>
                            </div>
                            <div class="text-danger"
                                *ngIf="crearCuentaForm.get('confirmContraseña')?.touched && (crearCuentaForm.get('contraseña')?.value !== crearCuentaForm.get('confirmContraseña')?.value)">
                                <span>La contraseñas no coinciden</span>
                            </div>
                            -->
                        <button  class="btn btn-primary d-block w-100" type="submit" [disabled]="!crearCuentaForm.valid">Crear Cuenta</button> <!-- (click)="crearcuenta()"-->
                    </div>
                    </form>
                </div>
                <div class="text-center">
                    <div class="small"><a href="login">¿Ya tenés cuenta? Logueate</a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

<app-footer></app-footer>