<app-navbar></app-navbar>
<app-carrousel></app-carrousel>

<!-- <div [formGroup]='formSignup'>
        <p>Email</p>
        <input
              id="email"
              formControlName="email"

      />
      <p>Username</p>
        <input
                      id="username"
                      formControlName="username"

              />
      <p>Password</p>
        <input
              id="password"
              formControlName="password"

      />

      </div>
<button (click)='signup();'  >Signup</button> -->
<div class="col text-center">
        <button (click)='onClick();' class="p-3 mb-2 bg-success text-white">Registrese a nuestro newsletter</button>
</div>
<!-- /*<p></p>
<a routerLink="/view" routerLinkActive="active">Registrarse</a>
<p></p>*/ -->

<!-- <a routerLink="/iterate" routerLinkActive="active">Iterate Component</a> -->

<router-outlet></router-outlet>

<app-footer></app-footer>