<p>Main View Works!</p>

<div [formGroup]='formSignup'>
        <p>Email</p>
        <input 
              id="email" 
              formControlName="email"  
              
      />
      <p>Username</p>
        <input 
                      id="username" 
                      formControlName="username"  
                      
              />
      <p>Password</p>
        <input 
              id="password" 
              formControlName="password"  
              
      />

      </div>
<button (click)='signup();'  >Signup</button>

<div *ngIf="username; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><p>Bienvenido {{username}}</p></ng-template>
<ng-template #elseBlock><p>Nos gustaria saludarlo, cual es su nombre?</p></ng-template>

<div [formGroup]='formGroup'>
  <input 
                id="username" 
                formControlName="username"  
                
        />
</div>
<button (click)='onSubmit();'  >Submit</button>

<p></p>
<a routerLink="/view" routerLinkActive="active">ViewDemo Component</a>
<p></p>
<button (click)='onClick();'  >ViewDemo Component Redirect</button>
<p></p>
<a routerLink="/iterate" routerLinkActive="active">Iterate Component</a>

<router-outlet></router-outlet>