body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#e43a15,#e65245)}

.card{
    width: 400px;
    padding: 80px 50px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    margin-left: 50em;
    margin-bottom: 90px;
}
.card h3{
    color: #111;
    margin-bottom: 50px;
    border-left: 5px solid red;
    padding-left: 10px;
    line-height: 1em}
.inputbox{margin-bottom: 50px}
.inputbox input{
    position:absolute;
    width: 300px;
    background:transparent}
.inputbox input:focus{color: #495057;
    background-color: #fff;
    border-color: #e54b38;
    outline: 0;
    box-shadow: none}
.inputbox span{
    position: relative;
    top: 7px;
    left: 1px;
    padding-left: 10px;
    display: inline-block;
    transition: 0.5s}
.inputbox input:focus ~ span{transform: translateX(-10px) translateY(-32px);font-size: 12px}.inputbox input:valid ~ span{transform: translateX(-10px) translateY(-32px);font-size: 12px}