<app-navbar></app-navbar>
<div *ngIf="email; then thenBlock"></div>
<ng-template #thenBlock>
  <p class="text-success">Newsletter enviado con exito a : {{email}}</p>
</ng-template>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
<div class="col text-center">
  <div [formGroup]='formGroup' class="card">
    <h3> Newsletter</h3>
    <div class="inputbox">
      <input id="name" formControlName="name" type="text" name="name" class="form-control" required="required" />
      <span>Nombre completo</span>
    </div>

    <div class="inputbox">
      <input id="email" formControlName="email" type="text" name="name" class="form-control" required="required" />
      <span>Email</span>
    </div>

    <button (click)='onSubmit();' class="btn btn-danger btn-block">Enviar</button>
    <button (click)='onClick();' class="btn btn-link">Volver al Home</button>
  </div>
</div>
</div>
</div>
</div>
<app-footer></app-footer>