<app-navbar></app-navbar>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="inam" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="container">
                    <h2 class="mb-3 mt-2">¡Elegí tu tipo de Candy para cada ocasión!</h2>
                    <div class="carousel-item active">
                        <div class="container mt-4 mb-5">
                            <div class="row">
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="./assets/combo-seños.png" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">$23.000</h3>
                                            <h5 class="card-title">Candy Bar Casamiento</h5>
                                            <p class="card-text">20 personas</p>
                                            <p><a class="btn btn-lg btn-primary" href="/carrito">Ver Detalles</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="./assets/combo-cole.png" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">$15.000</h3>
                                            <h5 class="card-title">Candy Bar XV</h5>
                                            <p class="card-text">20 personas</p>
                                            <p><a class="btn btn-lg btn-primary" href="/carrito">Ver Detalles</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="./assets/combo-facu.png" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">$15000</h3>
                                            <h5 class="card-title">Candy Bar Casamiento</h5>
                                            <p class="card-text">20 personas</p>
                                            <p><a class="btn btn-lg btn-primary" href="/carrito">Ver Detalles</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="./assets/combo-ofi.png" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">$800</h5>
                                            <p class="card-text">2 cereales, 1 oblea, 30 caramelos, 2 turrones, 1 mini
                                                mantecol, 2 tableta beldent, 1 mogul, 1 mini oreo</p>
                                            <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container mt-4 mb-5">
                            <div class="row">
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="./assets/combo-bajon.png" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">$1000</h5>
                                            <p class="card-text">Caja bon o bon, 2 cofler, 2 milka, 2 lays, 2 doritos, 4
                                                marroc, 2 rocklet, 2 kit kat, 40 gomitas, 2 chocolinas</p>
                                            <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="./assets/combo-light.png" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">$1000</h5>
                                            <p class="card-text">4 cereales, 4 turrones, 4 chocoarroz, 4 vauquita light,
                                                30 caramelos BC, 4 obleas gallo, 4 marroc light</p>
                                            <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="./assets/combo-piñata.png" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">$3000</h5>
                                            <p class="card-text">1 bolsa pops, 1 bolsa masticables frutales, 1 bolsa
                                                caramelos, 1 caja chocolatin, 1 bolsa sugus </p>
                                            <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="./assets/combo-goloso.png" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">$1500</h5>
                                            <p class="card-text">4 alfajores milkas, 4 alfajores pepitos, 1 caja flynn
                                                paff, 2 cofler, 2 milka, 10 marroc, 4 kitkat</p>
                                            <p><a class="btn btn-lg btn-primary" href="/carrito">Comprar</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#inam" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#inam" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
                </div>
            </div>

        </div>
    </div>


</div>
 -->

<div class="container py-4 py-xl-5">
    <h2 class="d-flex justify-content-center">Candy Bar</h2>
    <h4 class="d-flex justify-content-center mb-3">¡Elegí tu tipo de Candy para cada ocasión!</h4>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between p-4 containerCandyBar">
                    <img src="./assets/candy-bar-casamiento.jpg">
                    <div>
                        <h6 class="text-uppercase text-muted">Casamiento</h6>
                        <h4 class="display-6 fw-bold">$39.000</h4>
                        <hr />
                        <ul class="list-unstyled">
                            <li class="d-flex mb-2">
                                <span class="fw-bold">60 personas</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Caramelos 4 sabores a elección.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Gomitas 4 sabores a elección</span>
                            </li>
                            
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Chupetines Picodulce.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Alfajores Jorgito.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Tita & Rhodesia.</span>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary d-block w-100" role="button">Ver Más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between p-4 containerCandyBar">
                    <img src="./assets/candy-bar-xv.jpg">
                    <div>
                        <h6 class="text-uppercase text-muted">XV</h6>
                        <h4 class="display-6 fw-bold">$25.000</h4>
                        <hr />
                        <ul class="list-unstyled">
                            <li class="d-flex mb-2">
                                <span class="fw-bold">50 personas</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Caramelos 3 sabores a elección.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Gomitas 3 sabores a elección</span>
                            </li>
                            
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Chupetines Picodulce.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Alfajores Jorgito.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Tita & Rhodesia.</span>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary d-block w-100" role="button">Ver Más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between p-4 containerCandyBar">
                    <img src="./assets/candy-bar-bautismo.jpg">
                    <div>
                        <h6 class="text-uppercase text-muted">Bautismo</h6>
                        <h4 class="display-6 fw-bold">$18.000</h4>
                        <hr />
                        <ul class="list-unstyled">
                            <li class="d-flex mb-2">
                                <span class="fw-bold">35 personas</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Caramelos 2 sabores a elección.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Gomitas 2 sabores a elección</span>
                            </li>
                            
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Chupetines Picodulce.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Alfajorcitos Jorgito.</span>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2">
                                    <svg class="bi bi-check-lg text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" ></path>
                                    </svg>                                
                                </span>
                                <span>Tita o Rhodesia.</span>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary d-block w-100" role="button">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>